.righttip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}

.righttip .righttiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

.righttip .righttiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.righttip:hover .righttiptext {
    visibility: visible;
    opacity: 1;
}

.lefttip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}

.lefttip .lefttiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

.lefttip .lefttiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.lefttip:hover .lefttiptext {
    visibility: visible;
    opacity: 1;
}

.detail td {
  padding: 1px 1px ;
  margin: 1px 1px ;
}

.detail .detail-field {
  text-align: right ;
}

.detail .detail-data {
  color: blue ;  
}

