* $$ JOB JNM=RDS510CP,CLASS=V,DISP=D,USER=RDS.002
// JOB RDS510CP
// OPTION PARTDUMP
* **************************************************************
* *** DO NOT RUN RDS510CP WITH RDS511CP ***
* *** DO NOT RUN RDS510CP WITH RDS511CP ***
* *** DO NOT RUN RDS510CP WITH RDS511CP ***
* *** DO NOT RUN RDS510CP WITH RDS511CP ***
* **************************************************************
* STEP 0 WRITE BEGINNING JOB SCHEDULE RECORD
// EXEC PROC=F99X07
// EXEC C99085,SIZE=(C99085,64K)
BRDS510CP
/*
* STEP 1 LOAD DIV 001 RDS NIGHTLY RECON DATA TO SCRATCH FILE
// ASSGN SYSLST,IGN
// DLBL S1C0X01,'RDS510CP.RDS.DATA.DIV.001'
// EXEC C04MPAI,SIZE=(C04MPAI,64K)
1006378^0000100
1865666^0000520
4631222^0000143
7345879^0000024
7519028^0000100
0sku001^0000208
0sku002^0000134
0sku003^0000040
0sku004^0000144
TESTSKU004^0000188
####### RDS TRAILER RECORD
/*
* STEP 2 JOB RDS511CP
// EXEC PROC=BIMELIBD
// EXEC BIMUTIL
LOGON BIMBAT,BATCH
JOB RDS511CP
/*
* STEPLAST WRITE ENDING JOB SCHEDULE RECORD
// EXEC PROC=F99X07
// EXEC C99085,SIZE=(C99085,64K)
ERDS510CP
/*
/&
* $$ EOJ
