.panel-start {
  color: green ;
  font-size: large ;
  font-weight: bold ;
}
.panel-stop {
  color: red ;
  font-size: large ;
  font-weight: bold ;
}
.panel-reset {
  color: orange ;
  font-size: large ;
  font-weight: bold ;
}
.panel-button {
  width: 250px ;
}
