<div class="container-fluid" ng-cloak>
  <md-tabs md-dynamic-height md-selected="selected">
    <md-tab label="Start/Stop" md-on-select="refresh()">
      <div layout="column">

        <md-content class="md-padding">
          <div>
            <table class="detail">
              <tr>
                <td class='detail-field'>Pick 1:</td>
                <td>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="pick1Start()">
                    Start
                  </md-button>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit') || pick1Button=='start'"
                             ng-click="pick1Stop()">
                    Stop
                  </md-button>
                </td>
                <td>
                  <div ng-show="pick1Button=='stop'" style="background-color: #9f9">
                    <span>&nbsp;Running&nbsp;</span>
                  </div>
                  <div ng-show="pick1Button=='start'" style="background-color: #f99">
                    <span>&nbsp;Stopped&nbsp;</span>
                  </div>
                  <div ng-show="pick1Button!='start' && pick1Button!='stop'" style="background-color: #fe9">
                    <span>&nbsp;Unknown&nbsp;</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class='detail-field'>Pick 2:</td>
                <td>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="pick2Start()">
                    Start
                  </md-button>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit') || pick2Button=='start'"
                             ng-click="pick2Stop()">
                    Stop
                  </md-button>
                </td>
                <td>
                  <div ng-show="pick2Button=='stop'" style="background-color: #9f9">
                    <span>&nbsp;Running&nbsp;</span>
                  </div>
                  <div ng-show="pick2Button=='start'" style="background-color: #f99">
                    <span>&nbsp;Stopped&nbsp;</span>
                  </div>
                  <div ng-show="pick2Button!='start' && pick2Button!='stop'" style="background-color: #fe9">
                    <span>&nbsp;Unknown&nbsp;</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class='detail-field'>Pick 3:</td>
                <td>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="pick3Start()">
                    Start
                  </md-button>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit') || pick3Button=='start'"
                             ng-click="pick3Stop()">
                    Stop
                  </md-button>
                </td>
                <td>
                  <div ng-show="pick3Button=='stop'" style="background-color: #9f9">
                    <span>&nbsp;Running&nbsp;</span>
                  </div>
                  <div ng-show="pick3Button=='start'" style="background-color: #f99">
                    <span>&nbsp;Stopped&nbsp;</span>
                  </div>
                  <div ng-show="pick3Button!='start' && pick3Button!='stop'" style="background-color: #fe9">
                    <span>&nbsp;Unknown&nbsp;</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class='detail-field'>Pick Merge:</td>
                <td>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="pickMergeStart()">
                    Start
                  </md-button>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit') || pickMergeButton=='start'"
                             ng-click="pickMergeStop()">
                    Stop
                  </md-button>
                </td>
                <td>
                  <div ng-show="pickMergeButton=='stop'" style="background-color: #9f9">
                    <span>&nbsp;Running&nbsp;</span>
                  </div>
                  <div ng-show="pickMergeButton=='start'" style="background-color: #f99">
                    <span>&nbsp;Stopped&nbsp;</span>
                  </div>
                  <div ng-show="pickMergeButton!='start' && pickMergeButton!='stop'" style="background-color: #fe9">
                    <span>&nbsp;Unknown&nbsp;</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class='detail-field'>Bridge:</td>
                <td>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="bridgeStart()">
                    Start
                  </md-button>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit') || bridgeButton=='start'"
                             ng-click="bridgeStop()">
                    Stop
                  </md-button>
                </td>
                <td>
                  <div ng-show="bridgeButton=='stop'" style="background-color: #9f9">
                    <span>&nbsp;Running&nbsp;</span>
                  </div>
                  <div ng-show="bridgeButton=='start'" style="background-color: #f99">
                    <span>&nbsp;Stopped&nbsp;</span>
                  </div>
                  <div ng-show="bridgeButton!='start' && bridgeButton!='stop'" style="background-color: #fe9">
                    <span>&nbsp;Unknown&nbsp;</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class='detail-field'>L-Loop:</td>
                <td>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="lLoopStart()">
                    Start
                  </md-button>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit') || lLoopButton=='start'"
                             ng-click="lLoopStop()">
                    Stop
                  </md-button>
                </td>
                <td>
                  <div ng-show="lLoopButton=='stop'" style="background-color: #9f9">
                    <span>&nbsp;Running&nbsp;</span>
                  </div>
                  <div ng-show="lLoopButton=='start'" style="background-color: #f99">
                    <span>&nbsp;Stopped&nbsp;</span>
                  </div>
                  <div ng-show="lLoopButton!='start' && lLoopButton!='stop'" style="background-color: #fe9">
                    <span>&nbsp;Unknown&nbsp;</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class='detail-field'>All Systems:</td>
                <td>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="allStart()">
                    Start
                  </md-button>
                  <md-button class="md-raised"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="allStop()">
                    Stop
                  </md-button>
                </td>
              </tr>
              <tr>
                <td class="detail-field">H-Loop:</td>
                <td>

                  <md-button class="md-raised"
                             ng-show="!hLoopShown"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="hLoopShow()">
                    Disable All
                  </md-button>
                  <md-button class="md-raised"
                             ng-show="hLoopShown"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="disableAllPack('h-loop')">
                    Confirm
                  </md-button>
                  <md-button class="md-raised"
                             ng-show="hLoopShown"
                             ng-click="hLoopHide()">
                    Cancel
                  </md-button>
                </td>
              </tr>
              <tr>
                <td class="detail-field">J-Loop:</td>
                <td>

                  <md-button class="md-raised"
                             ng-show="!jLoopShown"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="jLoopShow()">
                    Disable All
                  </md-button>
                  <md-button class="md-raised"
                             ng-show="jLoopShown"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="disableAllPack('j-loop')">
                    Confirm
                  </md-button>
                  <md-button class="md-raised"
                             ng-show="jLoopShown"
                             ng-click="jLoopHide()">
                    Cancel
                  </md-button>
                </td>
              </tr>
              <tr>
                <td class="detail-field">K-Loop:</td>
                <td>

                  <md-button class="md-raised"
                             ng-show="!kLoopShown"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="kLoopShow()">
                    Disable All
                  </md-button>
                  <md-button class="md-raised"
                             ng-show="kLoopShown"
                             ng-disabled="!permit('opsEdit')"
                             ng-click="disableAllPack('k-loop')">
                    Confirm
                  </md-button>
                  <md-button class="md-raised"
                             ng-show="kLoopShown"
                             ng-click="kLoopHide()">
                    Cancel
                  </md-button>
                </td>
              </tr>
            </table>
          </div>
        </md-content>
      </div>
    </md-tab>

    <md-tab label="Tuning" md-on-select="refresh()">
      <div layout="column">
        <md-content class="md-padding">
          <div>
            <table class="detail">
              <tr>
                <td class='detail-field'>Auto release:&nbsp;&nbsp;</td>
                <td><input type="checkbox" ng-model="edit.autoRelease"></td>
                <td>&nbsp;</td>
                <td>Sets/clears auto release of wave staging lanes to shipping</td>
              </tr>
              <tr>
                <td class='detail-field'>Auto express:&nbsp;&nbsp;</td>
                <td><input type="checkbox" ng-model="edit.autoExpress"></td>
                <td>&nbsp;</td>
                <td>Sets/clears (completed multi-carton shipments) bypass staging</td>
              </tr>
              <tr>
                <td class='detail-field'>Recirc. trigger:&nbsp;&nbsp;</td>
                <td><input type="range" min="0" max="300" ng-model="edit.recircTrigger">&nbsp;{{edit.recircTrigger}}</td>
                <td>&nbsp;</td>
                <td>How many parcels in ship recirc. before pack parcels are staged</td>
              </tr>
              <tr>
                <td class='detail-field'>Live load enabled:&nbsp;&nbsp;</td>
                <td><input type="checkbox" ng-model="edit.liveLoad"></td>
                <td>&nbsp;</td>
                <td>Live load enable/disable</td>
              </tr>
              <tr>
                <td class='detail-field'>Staging fill:&nbsp;&nbsp;</td>
                <td><input type="range" min="0" max="100" ng-model="edit.stagingFill">&nbsp;{{edit.stagingFill}}</td>
                <td>&nbsp;</td>
                <td>Percent of staging lanes to be empty before auto-release of wave lanes occurrs</td>
              </tr>
              <tr>
                <td class='detail-field'>Wave: emergency/committed:&nbsp;&nbsp;</td>
                <td><input type="range" min="14" max="17" ng-model="edit.committed">&nbsp;{{edit.committed}}</td>
                <td>&nbsp;</td>
                <td>The committed lane – restart Wave Sorter Daemon after changing (System Tile)</td>
              </tr>
              <tr>
                <td class='detail-field'>Wave: print/apply:&nbsp;&nbsp;</td>
                <td><input type="range" min="14" max="17" ng-model="edit.printApply">&nbsp;{{edit.printApply}}</td>
                <td>&nbsp;</td>
                <td>The print/apply lane – restart Wave Sorter Daemon after changing</td>
              </tr>
              <tr>
                <td class='detail-field'>Wave: standard to shipping:&nbsp;&nbsp;</td>
                <td><input type="range" min="14" max="17" ng-model="edit.standardLane">&nbsp;{{edit.standardLane}}</td>
                <td>&nbsp;</td>
                <td>The standard lane for product out of wave sorter (not committed) – restart Wave Sorter Daemon after changing</td>
              </tr>
              <tr>
                <td class='detail-field'>L-Loop duct:&nbsp;&nbsp;</td>
                <td><input type="checkbox"  ng-model="edit.ductEnable">&nbsp;{{edit.ductEnable}}</td>
                <td>&nbsp;</td>
                <td>Sort duct first at L-Loop within a delivery</td>
              </tr>
              <tr>
                <td class='detail-field'>H-Loop capacity:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="1000"  ng-model="edit.hLength">&nbsp;{{edit.hLength}}</td>
                <td>&nbsp;</td>
                <td>Carton length in H-Loop recirc.+sort</td>
              </tr>
              <tr>
                <td class='detail-field'>J-Loop capacity:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="1000" ng-model="edit.jLength">&nbsp;{{edit.jLength}}</td>
                <td>&nbsp;</td>
                <td>Carton length in J-Loop recirc.+sort</td>
              </tr>
              <tr>
                <td class='detail-field'>K-Loop capacity:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="1000" ng-model="edit.kLength">&nbsp;{{edit.kLength}}</td>
                <td>&nbsp;</td>
                <td>Carton length in K-Loop recirc.+sort</td>
              </tr>
              <tr>
                <td class='detail-field'>Wave sort scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.waveFail">&nbsp;{{edit.waveFail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>H-loop sort scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.hscanFail">&nbsp;{{edit.hscanFail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>J-loop sort scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.jscanFail">&nbsp;{{edit.jscanFail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>K-loop sort scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.kscanFail">&nbsp;{{edit.kscanFail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Ship sort scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.shipFail">&nbsp;{{edit.shipFail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>L-loop sort scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.lscanFail">&nbsp;{{edit.lscanFail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Ship lane #1 scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.ship1Fail">&nbsp;{{edit.ship1Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Ship lane #2 scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.ship2Fail">&nbsp;{{edit.ship2Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Ship lane #3 scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.ship3Fail">&nbsp;{{edit.ship3Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Ship lane #4 scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.ship4Fail">&nbsp;{{edit.ship4Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Ship lane #5 scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.ship5Fail">&nbsp;{{edit.ship5Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Ship lane #6 scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.ship6Fail">&nbsp;{{edit.ship6Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Ship lane #7 scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.ship7Fail">&nbsp;{{edit.ship7Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Ship lane #8 scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.ship8Fail">&nbsp;{{edit.ship8Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Ship lane #9 scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.ship9Fail">&nbsp;{{edit.ship9Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Loop lane #7 scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.loop7Fail">&nbsp;{{edit.loop7Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Loop lane #8 scanner consec. fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.loop8Fail">&nbsp;{{edit.loop8Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
              <tr>
                <td class='detail-field'>Loop Lane #9 Scanner consec fail:&nbsp;&nbsp;</td>
                <td><input type="range" min="1" max="10" ng-model="edit.loop9Fail">&nbsp;{{edit.loop9Fail}}</td>
                <td>&nbsp;</td>
                <td>Number of consecutive no-reads to trigger event</td>
              </tr>
            </table>
          </div>
        </md-content>
      </div>
      <div>
        <md-button class="md-raised"
                   ng-disabled="!permit('opsEdit')"
                   ng-click="commitTune()">
          Save
        </md-button>
      </div>
    </md-tab>

    <md-tab label="Edit Pack Config" md-on-select="refresh()">
      <md-container>
        <div layout="row">

          <div flex>
            <md-content class="md-padding">
              <table id="configTable" class="display compact"></table>
            </md-content>
          </div>

          <div flex>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <span flex></span>
                <md-button aria-label="SaveNew"
                           ng-click="packconfigSaveNew()">Save New</md-button>
                <md-button aria-label="Load"
                           ng-disabled="editDisabled()"
                           ng-click="packconfigLoad()">Load</md-button>
                <md-button aria-label="Delete"
                           ng-disabled="editDisabled()"
                           ng-click="packconfigDelete()">Delete</md-button>
              </div>
            </md-toolbar>

            <div layout="row">

              <div flex>
                <md-content class="md-padding">
                  <div layout="column">
                    <div>
                    <md-input-container class="md-block">
                      <label>Configuration Name</label>
                      <input ng-model="configTable.configName">
                    </md-input-container>
                    </div>
                  </div>
                </md-content>
              </div>
            </div>
          </div>
        </div>

      </md-container>
    </md-tab>

    <md-tab label="Wave Lane Cap." ng-disabled="!permit('opsEdit')"
              md-on-select="refresh()">
        <md-content class="md-padding">
          <div layout="row">
            <div flex>
              <md-content class="md-padding">
                <table id="waveLaneCaps" class="display"></table>
              </md-content>
            </div>

            <div flex>
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <span flex></span>
                  <!--<md-button aria-label="New"
                             ng-click="editNew()">New</md-button>-->
                  <md-button aria-label="Update"
                             ng-disabled="waveLane_editDisable()"
                             ng-click="waveLane_editUpdate()">Update</md-button>
                  <!--<md-button aria-label="Delete"
                             ng-disabled="waveLane_editDisable()"
                             ng-click="waveLane_editDelete()">Delete</md-button>-->
                </div>
              </md-toolbar>
              <md-content class="md-padding">
                <div layout="column">
                  <div>
                    <md-input-container md-no-float class="md-block" >
                      <label>Lane</label>
                      <input ng-model="laneEdit.waveLane"
                             ng-disabled="true">
                    </md-input-container>
                  </div>

                  <div>
                    <md-input-container md-no-float class="md-block">
                      <label>Capacity</label>
                      <input type="number"
                             min="0.0"
                             max="999999.99"
                             step="0.01"
                             ng-model="laneEdit.waveLaneCapacity">
                    </md-input-container>
                  </div>
                </div>
              </md-content>
            </div>
          </div>
      </md-content>
    </md-tab>

    <md-tab label="Ship Lane Cap." ng-disabled="!permit('opsEdit')"
              md-on-select="refresh()">
        <md-content class="md-padding">
          <div layout="row">
            <div flex>
              <md-content class="md-padding">
                <table id="shipLaneCaps" class="display"></table>
              </md-content>
            </div>

            <div flex>
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <span flex></span>
                  <!--<md-button aria-label="New"
                             ng-click="editNew()">New</md-button>-->
                  <md-button aria-label="Update"
                             ng-disabled="shipLane_editDisable()"
                             ng-click="shipLane_editUpdate()">Update</md-button>
                  <!--<md-button aria-label="Delete"
                             ng-disabled="shipLane_editDisable()"
                             ng-click="shipLane_editDelete()">Delete</md-button>-->
                </div>
              </md-toolbar>
              <md-content class="md-padding">
                <div layout="column">
                  <div>
                    <md-input-container md-no-float class="md-block" >
                      <label>Lane</label>
                      <input ng-model="laneEdit.shipLane"
                             ng-disabled="true">
                    </md-input-container>
                  </div>

                  <div>
                    <md-input-container md-no-float class="md-block">
                      <label>Capacity</label>
                      <input type="number"
                             min="0.0"
                             max="999999.99"
                             step="0.01"
                             ng-model="laneEdit.shipLaneCapacity">
                    </md-input-container>
                  </div>
                </div>
              </md-content>
            </div>
          </div>
      </md-content>
    </md-tab>

  </md-tabs>
</div>
