<div class="container-fluid" ng-cloak>

  <md-content class="md-padding">
    <div layout="row">
      <div flex>
        <md-content class="md-padding"> 
          <table id="sortmap" class="display compact"></table>
        </md-content>
      </div>

      <div flex>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span flex>{{edit.seq}}</span>
            <span flex></span>
            <md-button aria-label="New"
                       ng-click="editNew()">New</md-button>
            <md-button aria-label="Update"
                       ng-disabled="editDisabled()"
                       ng-click="editUpdate()">Save</md-button>
            <md-button aria-label="Delete"
                       ng-disabled="editDisabled()"
                       ng-click="editDelete()">Delete</md-button>
          </div>
        </md-toolbar>
        <md-content class="md-padding">
          <div layout="column">

            <md-input-container md-no-float class="md-block">
              <label>Carrier Code</label>
              <input ng-model="edit.carrierCode">
            </md-input-container>
             
            <md-input-container md-no-float class="md-block">
              <label>Carrier Service</label>
              <input ng-model="edit.carrierService">
            </md-input-container>

            <md-input-container md-no-float class="md-block">
              <label>Lane</label>
              <md-select ng-model="edit.lane">
                <md-option value="1">Lane 1 (near left)</md-option>
                <md-option value="2">Lane 2 (far left)</md-option>
                <md-option value="3">Lane 3 (straight)</md-option>
              </md-select>
            </md-input-container>

          </div>
        </md-content>
      </div>
    </div>
  </md-content>
</div>
