#!/bin/bash
# description: Starts, stops, and restarts the daemon process

###

# additional applications to stop when launch is stopped
APPS="p8io p9io linxtrak"


# directory that contains the application binary
BINDIR=$HOME/bin

###

#
# job control functions
#

start()
   {
   ./launch | tracer launch &
   }

stop()
   {
   ./stop
   killall -q $APPS
   }

kill()
   {
   ./stop
   killall -q -9 $APPS
   }

restart()
   {
   stop
   sleep 1
   start
   }

status()
   {
   echo "--------------------"
   echo "launch: 1 process expected"
   pstatus launch
   }

###

#
# job control based on command-line arg
#

cd $BINDIR

case "$1" in
   start)
      start
      ;;
   stop)
      stop
      ;;
   kill)
      kill
      ;;
   status)
      status
      ;;
   *)
      restart
      ;;
esac
