[Unit]
Description=CIF driver
After=syslog.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/insmod /home/rds/modules/cif.ko
ExecStop=/sbin/rmmod cif
[Install]
WantedBy=multi-user.target
