<div class="container-fluid" ng-cloak>
  <div layout="row">
    <div flex></div>
    <div flex>
      <div>
        <md-input-container class="md-block">
          <label>Choose Pod:</label>
          <md-select ng-model="pod" ng-change="podChange()">
            <md-option value="02P">Pod 2</md-option>
            <md-option value="03P">Pod 3</md-option>
            <md-option value="04P">Pod 4</md-option>
            <md-option value="05P">Pod 5</md-option>
            <md-option value="06P">Pod 6</md-option>
            <md-option value="07P">Pod 7</md-option>
            <md-option value="08P">Pod 8</md-option>
            <md-option value="09P">Pod 9</md-option>
            <md-option value="10P">Pod 10</md-option>
            <md-option value="11P">Pod 11</md-option>
            <md-option value="12P">Pod 12</md-option>
            <md-option value="13P">Pod 13</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <div flex></div>
  </div>

  <div>
    <div layout="row">

      <div flex></div>

      <div layout="column" class="poditem" md-whiteframe=10>

        <div layout="row">
          <button id="01" class="bin" 
                     ng-style="bins['01'].style"
                     ng-click="binClick('01')">
            <div>{{bins['01'].show}}</div>
          </button>
          <button id="02" class="bin" 
                     ng-style="bins['02'].style"
                     ng-click="binClick('02')">
            <div>{{bins['02'].show}}</div>
          </button>
          <button id="03" class="bin" 
                     ng-style="bins['03'].style"
                     ng-click="binClick('03')">
            <div>{{bins['03'].show}}</div>
          </button>
          <button id="04" class="bin" 
                     ng-style="bins['04'].style"
                     ng-click="binClick('04')">
            <div>{{bins['04'].show}}</div>
          </button>
          <button id="05" class="bin" 
                     ng-style="bins['05'].style"
                     ng-click="binClick('05')">
            <div>{{bins['05'].show}}</div>
          </button>
          <button id="06" class="bin" 
                     ng-style="bins['06'].style"
                     ng-click="binClick('06')">
            <div>{{bins['06'].show}}</div>
          </button>
        </div>

        <div layout="row">
          <button id="07" class="bin" 
                     ng-style="bins['07'].style"
                     ng-click="binClick('07')">
            <div>{{bins['07'].show}}</div>
          </button>
          <button id="08" class="bin" 
                     ng-style="bins['08'].style"
                     ng-click="binClick('08')">
            <div>{{bins['08'].show}}</div>
          </button>
          <button id="09" class="bin" 
                     ng-style="bins['09'].style"
                     ng-click="binClick('03')">
            <div>{{bins['09'].show}}</div>
          </button>
          <button id="10" class="bin" 
                     ng-style="bins['10'].style"
                     ng-click="binClick('10')">
            <div>{{bins['10'].show}}</div>
          </button>
          <button id="11" class="bin" 
                     ng-style="bins['11'].style"
                     ng-click="binClick('11')">
            <div>{{bins['11'].show}}</div>
          </button>
          <button id="12" class="bin" 
                     ng-style="bins['12'].style"
                     ng-click="binClick('12')">
            <div>{{bins['12'].show}}</div>
          </button>
        </div>

        <div layout="row">
          <button id="13" class="bin" 
                     ng-style="bins['13'].style"
                     ng-click="binClick('13')">
            <div>{{bins['13'].show}}</div>
          </button>
          <button id="14" class="bin" 
                     ng-style="bins['14'].style"
                     ng-click="binClick('14')">
            <div>{{bins['14'].show}}</div>
          </button>
          <button id="15" class="bin" 
                     ng-style="bins['15'].style"
                     ng-click="binClick('15')">
            <div>{{bins['15'].show}}</div>
          </button>
          <button id="16" class="bin" 
                     ng-style="bins['16'].style"
                     ng-click="binClick('16')">
            <div>{{bins['16'].show}}</div>
          </button>
          <button id="17" class="bin" 
                     ng-style="bins['17'].style"
                     ng-click="binClick('17')">
            <div>{{bins['17'].show}}</div>
          </button>
          <button id="18" class="bin" 
                     ng-style="bins['18'].style"
                     ng-click="binClick('18')">
            <div>{{bins['18'].show}}</div>
          </button>
        </div>

        <div layout="row">
          <button id="19" class="bin" 
                     ng-style="bins['19'].style"
                     ng-click="binClick('19')">
            <div>{{bins['19'].show}}</div>
          </button>
          <button id="20" class="bin" 
                     ng-style="bins['20'].style"
                     ng-click="binClick('20')">
            <div>{{bins['20'].show}}</div>
          </button>
          <button id="21" class="bin" 
                     ng-style="bins['21'].style"
                     ng-click="binClick('21')">
            <div>{{bins['21'].show}}</div>
          </button>
          <button id="22" class="bin" 
                     ng-style="bins['22'].style"
                     ng-click="binClick('22')">
            <div>{{bins['22'].show}}</div>
          </button>
          <button id="23" class="bin" 
                     ng-style="bins['23'].style"
                     ng-click="binClick('23')">
            <div>{{bins['23'].show}}</div>
          </button>
          <button id="24" class="bin" 
                     ng-style="bins['24'].style"
                     ng-click="binClick('24')">
            <div>{{bins['24'].show}}</div>
          </button>
        </div>
      </div>

      <div flex=5> </div>

      <div layout="column" class="poditem" md-whiteframe=10>

        <div layout="row">
          <button id="25" class="bin" 
                     ng-style="bins['25'].style"
                     ng-click="binClick('25')">
            <div>{{bins['25'].show}}</div>
          </button>
          <button id="26" class="bin" 
                     ng-style="bins['26'].style"
                     ng-click="binClick('26')">
            <div>{{bins['26'].show}}</div>
          </button>
          <button id="27" class="bin" 
                     ng-style="bins['27'].style"
                     ng-click="binClick('27')">
            <div>{{bins['27'].show}}</div>
          </button>
          <button id="28" class="bin" 
                     ng-style="bins['28'].style"
                     ng-click="binClick('28')">
            <div>{{bins['28'].show}}</div>
          </button>
          <button id="29" class="bin" 
                     ng-style="bins['29'].style"
                     ng-click="binClick('29')">
            <div>{{bins['29'].show}}</div>
          </button>
          <button id="30" class="bin" 
                     ng-style="bins['30'].style"
                     ng-click="binClick('30')">
            <div>{{bins['30'].show}}</div>
          </button>
        </div>

        <div layout="row">
          <button id="31" class="bin" 
                     ng-style="bins['31'].style"
                     ng-click="binClick('31')">
            <div>{{bins['31'].show}}</div>
          </button>
          <button id="32" class="bin" 
                     ng-style="bins['32'].style"
                     ng-click="binClick('32')">
            <div>{{bins['32'].show}}</div>
          </button>
          <button id="33" class="bin" 
                     ng-style="bins['33'].style"
                     ng-click="binClick('33')">
            <div>{{bins['33'].show}}</div>
          </button>
          <button id="34" class="bin" 
                     ng-style="bins['34'].style"
                     ng-click="binClick('34')">
            <div>{{bins['34'].show}}</div>
          </button>
          <button id="35" class="bin" 
                     ng-style="bins['35'].style"
                     ng-click="binClick('35')">
            <div>{{bins['35'].show}}</div>
          </button>
          <button id="36" class="bin" 
                     ng-style="bins['36'].style"
                     ng-click="binClick('36')">
            <div>{{bins['36'].show}}</div>
          </button>
        </div>

        <div layout="row">
          <button id="37" class="bin" 
                     ng-style="bins['37'].style"
                     ng-click="binClick('37')">
            <div>{{bins['37'].show}}</div>
          </button>
          <button id="38" class="bin" 
                     ng-style="bins['38'].style"
                     ng-click="binClick('38')">
            <div>{{bins['38'].show}}</div>
          </button>
          <button id="39" class="bin" 
                     ng-style="bins['39'].style"
                     ng-click="binClick('39')">
            <div>{{bins['39'].show}}</div>
          </button>
          <button id="40" class="bin" 
                     ng-style="bins['40'].style"
                     ng-click="binClick('40')">
            <div>{{bins['40'].show}}</div>
          </button>
          <button id="41" class="bin" 
                     ng-style="bins['41'].style"
                     ng-click="binClick('41')">
            <div>{{bins['41'].show}}</div>
          </button>
          <button id="42" class="bin" 
                     ng-style="bins['42'].style"
                     ng-click="binClick('42')">
            <div>{{bins['42'].show}}</div>
          </button>
        </div>

        <div layout="row">
          <button id="43" class="bin" 
                     ng-style="bins['43'].style"
                     ng-click="binClick('43')">
            <div>{{bins['43'].show}}</div>
          </button>
          <button id="44" class="bin" 
                     ng-style="bins['44'].style"
                     ng-click="binClick('44')">
            <div>{{bins['44'].show}}</div>
          </button>
          <button id="45" class="bin" 
                     ng-style="bins['45'].style"
                     ng-click="binClick('45')">
            <div>{{bins['45'].show}}</div>
          </button>
          <button id="46" class="bin" 
                     ng-style="bins['46'].style"
                     ng-click="binClick('46')">
            <div>{{bins['46'].show}}</div>
          </button>
          <button id="47" class="bin" 
                     ng-style="bins['47'].style"
                     ng-click="binClick('47')">
            <div>{{bins['47'].show}}</div>
          </button>
          <button id="48" class="bin" 
                     ng-style="bins['48'].style"
                     ng-click="binClick('48')">
            <div>{{bins['48'].show}}</div>
          </button>
        </div>
      </div>

      <div flex></div>

    </div>
  </div>

  <div layout="row">
    <div class="md-padding" flex>
      <center><h3>Items for {{podName}}</h3></center>
      <table id="item" class="display compact"></table>
    </div>

    <div class="md-padding" ng-hide="cartonHide" flex>
      <center><h3>Cartons for {{item}}</h3></center>
      <table id="carton" class="display compact"></table>
      </table>
    </div>

    <div ng-hide="!cartonHide" flex></div>

  </div>
</div>
